extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    +alert(3000)
    +alert-error(3000)
    if(role.permissions.includes('products-category_edit')) 

        h1 Sua san pham
        form(
            action=`${preFixAdmin}/product-category/edit/${product.id}?_method=PATCH`
            id="form-edit/:id-product"
            method="POST"
            enctype="multipart/form-data"
        )

            div(
                class="from-group"
                )
                label(
                    for="title"
                    class="form-label"
                ) Tieu de san pham
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value = product.title

                )
            div(
                class="from-group"
                )
                label(
                    for="title"
                    class="form-label"
                ) Danh muc cha
                
                select(
                    class="form-control"
                    id="parent_id"
                    name="parent_id"
                )
                    
                    option(value="" ) -- Chọn danh mục cha --
                    +select-tree(records,1,product.parent_id)
            div(
                class="from-group"
                )
                label(
                    for="desc"
                    class="form-label"
                ) Mo ta san pham
                textarea(
                    class="form-control"
                    id="desc"
                    name="description"
                    rows="5"
                    value = product.description
                ) #{product.description}

        

            div(
                class="from-group"
                upload-image
                )
                label(  
                    for="thumbnail"
                    class="form-label"
                ) Hinh anh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src=product.thumbnail   
                    upload-image-preview
                    width="50px"
                )
            div(
                class="from-group"
                )
                label(
                    for="position"
                    class="form-label"
                ) Vi tri san pham
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    value= product.position
                )
            div(
                class="from-group form-check form-check-inline"
                )

                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=(product.status === 'active'? true : false)
                )
                label(
                    for="statusActive"
                    class="form-check-label"
                ) Hoat dong
            div(
                class="from-group form-check form-check-inline"
                )

                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                    checked=(product.status === 'inactive'? true : false)
                )
                label(
                    for="statusInactive"
                    class="form-check-label"
                ) Dung hoat dong
            div(
                class="from-group mt-3"
                )
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cap nhat 




        script(src="/admin/js/product.js") 