extends ../../layout/default.pug
include ../../mixin/alert.pug
block main
    - const discount = product.discountPercentage || 0
    - const price = Number(product.price) || 0
    - const priceNew = Math.round((price * (100 - discount)) / 100)
    +alert(3000)
    .breadcrumb.mb-3
        a(href="/") Trang chủ
        |  / 
        a(href="/products") Sản phẩm
        if product && product.title
            |  / 
            span.text-muted= product.title

    .product-detail.container.my-4
        .row.g-4
            .col-lg-7
                .product-gallery
                    - const images = Array.isArray(product.images) && product.images.length ? product.images : (product.thumbnail ? [product.thumbnail] : [])
                    if images.length
                        .main-image.mb-3
                            img#mainProductImage(src=images[0] alt=product.title)
                        .thumbs.d-flex.flex-row.g-2
                            each imgSrc, idx in images
                                img.thumb(src=imgSrc alt=`thumb-${idx}` data-src=imgSrc)
                    else
                        .no-image.bg-light.d-flex.align-items-center.justify-content-center(style="height:420px")
                            span.text-muted Không có hình ảnh
                // product meta under gallery (small)
                .mt-3.small.text-muted
                    if product.sku
                        span.me-3 SKU: #{product.sku}
                    if product.brand
                        span.me-3 Thương hiệu: #{product.brand}
            .col-lg-5
                h1.product-title= product.title
                if product.product_category_id
                    p.mb-1
                        small.text-muted Danh mục: 
                        a(href=`/products/category/${product.product_category_id}`)= product.category.title 

                .price.mb-3
                    .price-column
                        span.new #{new Intl.NumberFormat('en-US').format(priceNew)}$
                        if discount
                            span.old #{new Intl.NumberFormat('en-US').format(price)}$
                            span.discount.badge.bg-success.mt-2 Giảm #{discount}%

                .stock.mb-3
                    strong Còn lại: 
                    span= product.stock || 0

                form(
                    action=`/cart/add/${product.id}` 
                    method="POST"
                )
                    input(
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                        max=product.stock 
                        class="form-control mb-2"   
                        )
                    button(
                        type="submit"
                        class="btn btn-success btn-block"
                        ) Thêm vào giỏ hàng

               

        .row.mt-4
            .col-12
                // tabs: Mô tả | Thông số
                ul.nav.nav-tabs(role='tablist')
                    li.nav-item
                        a.nav-link.active(href='#desc' data-bs-toggle='tab') Mô tả
                    li.nav-item
                        a.nav-link(href='#specs' data-bs-toggle='tab') Thông số
                .tab-content.p-3.border.border-top-0
                    .tab-pane.fade.show.active#desc
                        .tinymce-content!= product.description
                    .tab-pane.fade#specs
                        if product.specs
                            table.table.table-sm
                                tbody
                                    each val, key in product.specs
                                        tr
                                            th(style='width:200px')= key
                                            td= val
                        else
                            p.text-muted Chưa có thông số

    // include gallery script
    script(src='/js/product-gallery.js')
