extends ../../layout/default.pug
include ../../mixin/alert.pug

block main
    .register-container
        h2 Nhập mã OTP
        +alert(3000)
        +alert-error(3000)

        form.register-form(action="/user/password/reset" method="POST")
            .form-group
                label(for="password") Password
                input#password(type="password" 
                name="password" 
    
                placeholder="Nhập password mới")
                label(for="confirmPassword") Nhập lại password 
                input#confirmPassword(type="password"
                class="form-control"
                name="confirmPassword"
                placeholder="Nhập lại password"
                required)

            button.btn-submit(type="submit") Gửi yêu cầu
