extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    +alert-error(3000)
    h1 Them moi tai khoan
    form(
        action=`${preFixAdmin}/accounts/create`
        id="form-create-account"
        method="POST"
        enctype="multipart/form-data"
    )
        div(
            class="from-group"
            )
            label(
                for="fullName"
                class="form-label"
            ) Ho ten
            input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
            )
        div(
            class="from-group"
            )
            label(
                for="email"
                class="form-label"
            ) email
            input(
                type="text"
                class="form-control"
                id="email"
                name="email"
            )
        div(
            class="from-group"
            )
            label(
                for="password"
                class="form-label"
            ) password
            input(
                type="text"
                class="form-control"
                id="password"
                name="password"
            )
        div(
            class="from-group"
            )
            label(
                for="phone"
                class="form-label"
            ) phone
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
            )



        div(
            class="from-group"
            upload-image
            )
            label(  
                for="avatar"
                class="form-label"
            ) Avatar
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            img(
                src=""
                upload-image-preview
                width="50px"
            )
        // role selection inserted immediately after image
        div(
            class="from-group"
            )
            label(
                for="role_id"
                class="form-label"
            ) Phân quyền
            select(name="role_id" id="role_id" class="form-control")
                option(disabled selected) -- Chọn --
                if typeof roles !== 'undefined' && roles.length
                    each role in roles
                        option(value=role.id)= role.title
 
        div(
            class="from-group form-check form-check-inline"
            )

            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Hoat dong
        div(
            class="from-group form-check form-check-inline"
            )

            input(
                type="radio"
                class="form-check-input"
                id="statusInactive"
                name="status"
                value="inactive"
            )
            label(
                for="statusInactive"
                class="form-check-label"
            ) Dung hoat dong
        div(
            class="from-group mt-3"
            )
            button(
                type="submit"
                class="btn btn-primary"
            ) Tao danh muc san pham



    script(src="/admin/js/product.js") 