extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    +alert(3000)
    +alert-error(3000)
    if(role.permissions.includes('products_edit')) 

        h1 Sua san pham
        form(
            action=`${preFixAdmin}/products/edit/${product.id}?_method=PATCH`
            method="POST"
            enctype="multipart/form-data"
        )

            div(
                class="from-group"
                )
                label(
                    for="title"
                    class="form-label"
                ) Tieu de san pham
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value = product.title

                )
            div(
                class="from-group"
                )
                label(
                    for="desc"
                    class="form-label"
                ) Mo ta san pham
                textarea(
                    class="form-control"
                    id="desc"
                    name="description"
                    rows="5"
                    value = product.description
                ) #{product.description}
            div(
                class="from-group"
                )
                label(
                    for="product_category_id"
                    class="form-label"
                ) Danh muc cha 
                
                select(
                    class="form-control"
                    id="product_category_id"
                    name="product_category_id"
                )
                    option(value="") -- Chon danh muc cha --
                    if(Category)
                        +select-tree(Category,1,product.product_category_id)

            div(
                class="from-group form-check form-check-inline"
                )
                
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured1"
                    name="featured"
                    value="1"
                    checked=(product.featured == '1'? true : false)
                )
                label(
                    for="featured1"
                    class="form-check-label"
                ) Noi bat
            div(
                class="from-group form-check form-check-inline"
                )
                
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured0"
                    name="featured"
                    value="0"
                    checked=(product.featured == '0'? true : false)
                )
                label(
                    for="featured0"
                    class="form-check-label"
                ) Khong noi bat

            div(
                class="from-group"
                )
                label(
                    for="price"
                    class="form-label"
                ) Gia san pham
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value= product.price
                )
            div(
                class="from-group"
                )
                label(
                    for="discount"
                    class="form-label"
                ) %Giam gia
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value= product.discountPercentage
                    min="0"
                )
            div(
                class="from-group"
                )
                label(
                    for="stock"
                    class="form-label"
                ) So luong san pham
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value= product.stock
                    min="0"
                )
            div(
                class="from-group"
                upload-image
                )
                label(  
                    for="thumbnail"
                    class="form-label"
                ) Hinh anh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src=product.thumbnail   
                    upload-image-preview
                    width="50px"
                )
            div(
                class="from-group"
                )
                label(
                    for="position"
                    class="form-label"
                ) Vi tri san pham
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    value= product.position
                )
            div(
                class="from-group form-check form-check-inline"
                )

                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value=product.status
                    checked=(product.status === 'active'? true : false)
                )
                label(
                    for="statusActive"
                    class="form-check-label"
                ) Hoat dong
            div(
                class="from-group form-check form-check-inline"
                )

                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                    checked=(product.status === 'inactive'? true : false)
                )
                label(
                    for="statusInactive"
                    class="form-check-label"
                ) Dung hoat dong
            div(
                class="from-group mt-3"
                )
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cap nhat 




        script(src="/admin/js/product.js") 