extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/moment.pug

block main
    +alert(3000)

    if(role.permissions.includes('products_view'))
        h1.mb-4 Danh sách sản phẩm
        .card.mb-3 Danh sách sản phẩm
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6
                        +search(keyword)

                    .col-6 
                        a(href=`${preFixAdmin}/products/create` 
                        class="btn btn-primary float-end") Thêm sản phẩm

        //- bulk-change form: send to /change-multi (matches route.patch('/change-multi', ...))

        .card.mb-3
            .card-header Sắp xếp
            .card-body
                .row
                .col-4
                    +sort()

        .table-responsive
            +change-multi(`${preFixAdmin}/products/change-multi?_method=PATCH`)

            table(
                class="table table-bordered table-hover align-middle"
                checkbox-multi
            )
                thead
                    tr
                        th.text-center
                            input(type="checkbox" name="checkall" )
                        th.text-center STT
                        th.text-center Hình ảnh
                        th Tiêu đề
                        th.text-center Giá
                        th.text-center Vi tri
                        th.text-center Trạng thái
                        th.text-center Nguoi tao
                        th.text-center Ngay tao
                        th.text-center Nguoi sua
                        th.text-center Hành động
                tbody
                    each product, index in products
                        tr
                            //- row checkbox (name="id" to match requested attribute)
                            td.text-center
                                input.row-checkbox(type="checkbox" name="id" value=product._id)
                            td.text-center= index + 1
                            td.text-center
                                if product.thumbnail
                                    img(src=product.thumbnail, width="80")
                                else
                                    img(src="/images/no-image.jpg" alt="No image" width="80")
                            td= product.title
                            td.text-center #{product.price}$
                            td.text-center 
                                input(type="number" 
                                    name="position"
                                    stype="width: 60px;"
                                    value=product.position
                                    min="1"
                                    )
                            td.text-center
                                if product.status === "active"
                                    a(href="javascript:;"
                                        button-change-status
                                        data-status=product.status
                                        data-id=product.id
                                        class="badge badge-success") Hoạt động
                                else
                                    a(href="javascript:;"
                                        button-change-status
                                        data-status=product.status
                                        data-id=product.id
                                        class="badge badge-danger") Dung Hoạt động
                            td #{product.accountName}
                            +format-date(product.createBy.createdAt)
                            td
                                - const updatedBy = product.updatedBy.slice(-1)[0]
                                if (updatedBy)
                                    p.mb-0 #{updatedBy.accountName}
                                    +format-date(updatedBy.updatedAt)
                            td.text-center
                                if(role.permissions.includes('products_edit'))

                                    a(  href=`${preFixAdmin}/products/edit/${product.id}`
                                        class="btn btn-warning btn-sm") Sửa
                                if(role.permissions.includes('products_view'))
                                    a(  href=`${preFixAdmin}/products/detail/${product.id}`
                                        class="btn btn-secondary btn-sm") Chi tiet
                                if(role.permissions.includes('products_delete'))
                                    button(
                                        class="btn btn-danger btn-sm ml-1"
                                        data-id=product.id
                                        button-delete
                                    ) Xóa
        +pagination(Pages)

        form(action="" 
            method="POST"
            id="form-change-status"
            data-path=`${preFixAdmin}/products/change-status`
            )

        form(action="" 
            method="POST"
            id="form-delete"
            data-path=`${preFixAdmin}/products/delete`
            )

        script(src="/admin/js/product.js") 

